{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'media/icons/favicon.ico' %}" type="image/x-icon">
  <title>Traffic Sign Classifier</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <main>
    <div class="theme-about-container">
      <div class="theme-toggle">
          <label class="switch">
              <input type="checkbox" id="theme-toggle">
              <span class="slider">
                  <img src="{% static '/media/icons/dark-mode-icon.svg' %}" id="dark-mode-icon">
                  <img src="{% static '/media/icons/light-mode-icon.svg' %}" id="light-mode-icon" style="display: none;">
              </span>
          </label>
      </div>

      <div class="about-icon" id="about-icon">
          <img src="{% static '/media/icons/about-icon.svg' %}" alt="About icon">
      </div>
  
      <div class="about-modal" id="about-modal">
          <div class="modal-content">
              <p>This is a Traffic Sign Classifier web application. You can upload an image of a traffic sign, and it will classify it.</p>
              <p>The classification model is built on the GTSRB dataset and can classifiy only the 43 type of traffic signs available on the dataset.</p>
              <p>The project code is available at this <a href="https://github.com/FazleLabib/TrafficSignClassifier">link</a></p>
          </div>
      </div>
  </div>

    <h1 class="header">⚠️ Traffic Sign Classifier ⚠️</h1>
    <div class="form-container">
      <div class="panel" id="upload">
        <form method="post" enctype="multipart/form-data" class="upload-form">
          {% csrf_token %}

          {% if form.non_field_errors %}
            <div class="error-messages">
              {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <div id="upload-panel">
            <input id="file-input" type="file" name="image" accept="image/*" hidden>
            <label for="file-input" class="upload-area">
              <div class="upload-content">
                <img src="{% static 'media/icons/upload-icon.svg' %}" alt="Upload Icon" class="upload-icon">
                <div class="upload-text">
                  <p>Drop your image here, or <span>browse</span></p>
                </div>
              </div>
            </label>
          </div>
          
          <div class="buttons">
            <button type="reset" id="clear-button">Clear</button>
            <button type="submit" id="upload-button">Upload</button>
          </div>
        </form>
      </div>

      <div class="panel" id="result">
      {% if label %}
        <img class="results-icon" src="{{ meta_url }}" alt="Image of {{ label }}">
        <div id="stats">
          <p id="label">{{ label }}</p>
          <div id="confidence">
            <img src="{% static 'media/icons/pie-icon.svg' %}" alt="Confidence score icon">
            <div id="confidence-divider"></div>
            <p id="confidence-value">{{ confidence }}</p>
          </div>
        </div>
      {% else %}
      <img class="results-icon" id="results-placeholder" src="{% static 'media/icons/results-icon.svg' %}" alt="Results icon">
      {% endif %}
    </div>
    </div>
  </main>
  <footer>
    Designed and Developed by <a href="https://github.com/FazleLabib">Fazle Labib</a>.
  </footer>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>