{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traffic Sign Classifier</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <main>
      <h1 class="header">⚠️ Traffic Sign Classifier ⚠️</h1>
      <div class="form-container">
        <form method="post" enctype="multipart/form-data" class="upload-form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="buttons">
            <button type="reset" class="reset-button">Clear</button>
            <button type="submit" class="upload-button">Upload</button>
          </div>
        </form>
    
        {% if result %}
        <div class="result">
          <h3>Prediction Result:</h3>
          <p>{{ result }}</p>
        </div>
        {% endif %}
      </div>
  </main>
</body>

</html>