body {
    background: linear-gradient(135deg, #c3cfe2, #e2e2e2);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.upload-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.upload-form input[type="file"],
.upload-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
}

.upload-form input[type="file"]:hover,
.upload-form button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
