:root {
  --color-light-blue: #c3cfe2;
  --color-light-gray: #e2e2e2;
  --color-white-transparent: rgba(255, 255, 255, 0.2);
  --color-white-dashed: rgba(255, 255, 255, 0.5);
  --color-white-hover: rgba(255, 255, 255, 0.3);
  --color-text-white: #fff;
  --color-blue: #00f;
  --shadow-light: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

body {
  background: linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-gray)
  );
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.panel {
  background: var(--color-white-transparent);
  border-radius: 1.25rem;
  padding: 1.25rem;
  width: 21.875rem;
  aspect-ratio: 1;
  box-shadow: var(--shadow-light);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.125rem solid var(--color-white-hover);
}

.preview-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

#upload-panel {
  aspect-ratio: 1;
  border: 0.125rem dashed var(--color-white-dashed);
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.9375rem;
  background-color: var(--color-white-transparent);
  overflow: hidden;
  position: relative;
}

.upload-panel .upload-content {
  text-align: center;
}

.upload-panel img.upload-icon {
  max-width: 6.25rem;
}

.upload-panel:hover {
  background-color: var(--color-white-hover);
}

.upload-panel img.preview-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-white);
  text-align: center;
  cursor: pointer;
}

.upload-content p {
  font-size: 1rem;
  color: var(--color-text-white);
  margin-top: 0.625rem;
  text-align: center;
}

.upload-content p span {
  color: var(--color-blue);
  text-decoration: underline;
}

.upload-icon {
  width: 5rem;
  aspect-ratio: 1;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  width: 100%;
  background-color: var(--color-white-transparent);
  border: none;
  color: var(--color-text-white);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: var(--color-white-hover);
}
