@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #4c3fc1;
  --color-secondary: #9388f0;
  --color-accent: #ff476d;
  --color-light-blue: #c3cfe2;
  --color-light-gray: #e2e2e2;
  --color-text-primary: #3d3b3f;
  --color-text-secondary: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.2);
  --color-white-dashed: rgba(255, 255, 255, 0.5);
  --color-white-hover: rgba(255, 255, 255, 0.3);
  --shadow-light: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --color-primary: #3f3fc1;
  --color-secondary: #9697fc;
  --color-accent: #ff476d;
  --color-light-blue: #2d2e35;
  --color-light-gray: #44464e;
  --color-text-primary: #e2e2e2;
  --color-text-secondary: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.1);
  --color-white-dashed: rgba(255, 255, 255, 0.3);
  --color-white-hover: rgba(255, 255, 255, 0.15);
  --shadow-light: 0 0.25rem 1.875rem rgba(255, 255, 255, 0.05);
  
  background: linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-gray)
  );
}

body {
  background: linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-gray)
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100dvh;
}

body.dark-mode .upload-icon {
  opacity: 0.8;
  filter: brightness(1.2);
}

body.dark-mode .results-icon {
  opacity: 0.8;
  filter: brightness(1.8);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--color-text-primary);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.panel {
  background: var(--color-white-transparent);
  border-radius: 1.25rem;
  padding: 1.25rem;
  width: 21.875rem;
  aspect-ratio: 1;
  box-shadow: var(--shadow-light);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.125rem solid var(--color-white-hover);
}

.preview-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

#upload-panel {
  aspect-ratio: 1;
  border: 0.125rem dashed var(--color-white-dashed);
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.9375rem;
  background-color: var(--color-white-transparent);
  overflow: hidden;
  position: relative;
}

.upload-panel .upload-content {
  text-align: center;
}

.upload-panel img.upload-icon {
  max-width: 6.25rem;
}

.upload-panel:hover {
  background-color: var(--color-white-hover);
}

.upload-panel img.preview-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-secondary);
  text-align: center;
  cursor: pointer;
}

.upload-content p {
  font-size: 1rem;
  color: var(--color-text-primary);
  margin-top: 0.625rem;
  text-align: center;
}

.upload-content p span {
  color: var(--color-secondary);
  text-decoration: underline;
}

.upload-icon {
  width: 5rem;
  aspect-ratio: 1;
  opacity: 0.5;
  margin-bottom: 2rem;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-icon {
  border: 0.125rem dashed var(--color-white-dashed);
  border-radius: 0.625rem;
  padding: 1rem;
}

#results-placeholder {
  opacity: 0.5;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.75rem 0;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#upload-button {
  border: 0.125rem solid transparent;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
}

#upload-button:hover {
  border: 0.125rem solid var(--color-primary);
  background-color: var(--color-secondary);
}

#clear-button {
  background-color: transparent;
  border: 0.125rem solid var(--color-secondary);
  color: var(--color-secondary);
}

#clear-button:hover {
  background-color: var(--color-white-hover);
}

.buttons button:hover {
  background-color: var(--color-white-hover);
}

#stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
}

#label,
#confidence {
  padding: 0.5rem 1rem;
  color: var(--color-text-secondary);
}

#label {
  position: relative;
  border-radius: 0.45rem 0 0 0.45rem;
  background-color: var(--color-secondary);
}

#label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--color-secondary);
  border-radius: 0 5rem 5rem 0;
}

#confidence {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1.5rem;
  background-color: var(--color-accent);
}

#confidence img {
  width: 1.05rem;
  aspect-ratio: 1;
}

#confidence p {
  margin: 0;
}

#confidence-divider {
  border-left: 1px solid white;
  height: 1rem;
}

.theme-toggle {
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.switch:hover {
  scale: 1.1;
  transition: 0.3s ease;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider img {
  width: 2.5rem;
}

#dark-mode-icon, #light-mode-icon {
  position: absolute;
}

.error-messages {
  margin-bottom: 1rem;
  color: red;
}

.error {
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: #ffdada;
  border: 1px solid #ff5c5c;
  border-radius: 0.25rem;
}

@media (max-width: 800px) {
  body {
    background: var(--color-light-blue);
  }

  .header {
    font-size: 1.5rem;
  }

  .form-container {
    flex-direction: column;
    gap: 1rem;
  }

  .panel {
    width: 16rem;
  }

  #upload {
    display: flex;
    flex-direction: column;
    aspect-ratio: auto;
  }

  #upload-panel {
    width: 55%;
    margin-bottom: 0;
    justify-content: flex-start;
    aspect-ratio: auto;
    overflow: visible;
  }

  .upload-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upload-icon {
    padding: 0.25rem;
    width: 2rem;
    margin-bottom: 0;
  }

  .upload-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-between;
  }

  .upload-content p {
    font-size: 0.65rem;
    text-align: left;
    width: 6rem;
  }

  .buttons {
    width: 40%;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  .buttons button {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
  }

  #stats {
    flex-direction: column;
    align-items: flex-start;
  }

  #confidence {
    align-self: flex-end;
  }

  .slider img {
    width: 2rem;
  }

}
